<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Die Querfunk Mediathek">
    <meta name="author" content="Querfunk Radiobetriebsgesellschaft mbH">
    <link rel="icon" href="../../favicon.ico">

    <title>Querfunk Mediathek (BETA)</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- The nice and shiny audio player-->
    <script src="/audiojs/audio.min.js"></script>

      <style>

          .audiojs * {
                        -webkit-box-sizing: content-box !important;
                        -moz-box-sizing: content-box !important;
                        box-sizing: content-box !important;
          }

      </style>

  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Querfunk Mediathek (BETA)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="//querfunk.de">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-2">
          </div>
           <div class="col-md-8">
                <h1>Querfunk Mediathek (BETA)</h1>
          </div>
           <div class="col-md-2">
          </div>
      </div>

        {% for weekday in content%}
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">


                    {%  for key, value in weekday.items() %}
                        <h2>{{ key }}</h2>
             </div>
             <div class="col-md-6">

                        {% for show in value %}
		                    <h3>{{ show.name }} {% if show.live == "live" %}<span class="label label-success pull-right">Erstausstrahlung</span>{% endif %}</h3>
                            <h4>{{ show.weekday }}, {{ show.date }} {{ show.time }}</h4>
                                <p>{{ show.description }} (Länge: {{ show.length }} Minuten) </p>
                                <p class="audiojs">
                                    <audio src='/recordings/{{show.filename}}' preload="none"/>
		                        </p>
                            <hr>
                        {% endfor %}
                    {% endfor %}
                </div>
           <div class="col-md-2">
          </div>
        </div>
        {% endfor %}

    </div> <!--/.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      audiojs.events.ready(function() {
      var as = audiojs.createAll();
       });
    </script>

  </body>
</html>
